<!-- You can execute ruby code inside <% %> -->
<!-- You can execute ruby code and add it to the HTML with <%= %> (~ puts) -->

<% question = params[:question]%>
<%
  def StupidCoaching(question)
    if question == "I am going to work"
      @answer = "Great!"
    elsif question.include? ("?")
      @answer = "Silly question, get dressed and go to work!"
    else
      @answer = "I don't care, get dressed and go to work!"
    end
    return @answer
   end
 %>

<h1>Stupid Coaching</h1>

<h3><%= question.capitalize %></h3>
<p><em>You</em></p>

<h3><%=  StupidCoaching(question)   %></h3>
<p><em>Your Coach</em></p>

<p>Find me in app/views/questions/answer.html.erb</p>
