<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class = "container">

  <h1 class = "title">Stupid Coaching</h1>

  <div class="banner">
    <h3><%= @question.capitalize %></h3>
    <p><em>You</em></p>
  </div>

  <div class="banner">
    <h3><%=  @answer   %></h3>
    <p><em>Your Coach</em></p>
  </div>


  <a><%= link_to "Ask a new question", ask_path %></a>

  <p class = "footer">Find me in app/views/questions/answer.html.erb</p>

</div>


